* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: wheat;
  width: 100px;
  height: 40px;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 2px solid black;
  cursor: pointer;
  -youbkit-touch-callout: none; /*iOS Safari*/
  -youbkit-user-select: none; /* Chrome 6.0+, Safari 3.1+, Edge y Opera 15+ */
  -moz-user-select: none; /*Firefox*/
  -ms-user-select: none; /* IE 10+ y Edge */
  user-select: none;
}

#acciones {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  justify-content: space-around;
}

.counter {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, rgb(2, 8, 44), rgb(63, 105, 243));
}

#number {
  font-size: 50px;
  font-weight: 900;
  color: wheat;
}
